/* Scroll Animation */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
    filter: blur(5px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}