* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}



.Content {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding: 40px;
    margin: auto;
}

.contentSidebar {
    height: 100vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    padding: 40px;
    top: 40px;
    position: sticky;

}

.mainContent {
    /* height: 350vh; */
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
}

.profile img {
    height: 120px;
    width: 110px;
    border-radius: 10%;
    border: 1px solid #3a3a3a;
}

.profile h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

.profile{
    text-align: center;

}

.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 15px;
}
.em{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.val{
    color: #e0e0e0;
    text-decoration: none;
}
.email, .location, .phone, .git{
    margin: 10px;
}

.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.4s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}


/* Main Content */

/* navigation */
#navigation{
    padding: 30px 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active, nav a:hover{
    color: #FFBF00;
}


#navigation {
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* About Me */
.heading {
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line {
    height: 5px;
    width: 40px;
    background-color: #b38c18;
    margin-bottom: 15px;

}
.content {
    text-align: justify;
    color: #a0a0a0;
}
#about{
    margin-bottom: 30px;
}


/* Skills */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}


.item img {
    height: 25px;
    width: 25px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}
.item {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}


/* Education */
#education{
    margin-bottom: 30px;
    margin-top: 40px;
}
.year {
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree {
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.institue{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.eduF{
    margin-top: 25px;
}
.eduS, .eduF{
    margin-top: 25px;
    position: relative;
    padding-left: 25px;
}

.goal{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 3px solid rgb(177, 136, 136);
    position: absolute;
    top: 5px;
    left: 0px;
    
}

.liner{
    position: absolute;
    width: 2px;
    top: 15px;
    bottom: 0px;
    border: 2px solid rgb(79, 79, 79);
    left: 4px;
}




/* Projects */

.projectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.project{
    margin-top: 20px;
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}

.half{
    padding: 20px;
}
.half h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.half p {
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}
.half span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;

}




@media screen and (max-width:1200px) {
    .mainContent{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .contentSidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .projectContainer{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .contentSidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}



